@use '../util' as *;

.footer {
  &__main {
    text-align: center;
    margin-top: rem(40);
    font-size: rem(14);
  }
}

.attribution {
  margin-top: rem(50);
  font-size: 12px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
