@use '../util' as *;

.todo__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: rem(32);

  h1 {
    a {
      color: var(--light-1);
      text-decoration: none;
    }
  }
}
