@use '../util' as *;

.alert {
  --bs-alert-bg: transparent;
  --bs-alert-padding-x: 1rem;
  --bs-alert-padding-y: 1rem;
  --bs-alert-margin-bottom: 1rem;
  --bs-alert-color: inherit;
  --bs-alert-border-color: transparent;
  --bs-alert-border: 1px solid var(--bs-alert-border-color);
  --bs-alert-border-radius: 0.375rem;
  position: relative;
  padding: var(--bs-alert-padding-y) var(--bs-alert-padding-x);
  margin-bottom: var(--bs-alert-margin-bottom);
  color: var(--bs-alert-color);
  background-color: var(--bs-alert-bg);
  border: var(--bs-alert-border);
  border-radius: var(--bs-alert-border-radius);

  &-success {
    --bs-alert-color: #0f5132;
    --bs-alert-bg: #d1e7dd;
    --bs-alert-border-color: #badbcc;
  }

  &-danger {
    --bs-alert-color: #842029;
    --bs-alert-bg: #f8d7da;
    --bs-alert-border-color: #f5c2c7;
  }
}

.error {
  &-message {
    padding-block: 1rem;

    &-link {
      position: relative;
      text-decoration: none;
      &::before,
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        border-bottom: rem(1) solid;
        width: 0;
        transition: var(--transition);
      }

      &::before {
        right: 50%;
      }

      &::after {
        left: 50%;
      }

      &:hover {
        &::before {
          width: 50%;
        }

        &::after {
          width: 50%;
        }
      }
    }
  }
}
