@use '../util' as *;

.todo {
  display: grid;
  grid-template-columns: rem(40) 1fr rem(40);
  grid-column-gap: 0;
  grid-row-gap: 0;
  height: rem(48);
  align-items: center;

  &__add {
    margin-bottom: rem(16);
    border-radius: var(--radius);
  }

  &__list {
    border-radius: var(--radius);
    overflow: hidden;

    .todo {
      &__toggle {
        cursor: pointer;
      }

      &:not(:last-child) {
        border-bottom: rem(1) solid var(--dark-2);
      }
    }
  }

  &__toggle {
    display: grid;
    place-content: center;
    appearance: none;
    background-color: transparent;
    margin: 0;
    margin-left: rem(20);
    font: inherit;
    color: hsl(233, 14%, 35%);
    height: rem(20);
    width: rem(20);
    border: rem(1) solid hsl(233, 14%, 35%);
    border-radius: 100%;

    &.done {
      content: '';
      color: var(--light-1);
      height: 20px;
      width: 20px;
      transition: transform 120ms ease-in-out;
      // background: var(--icon-check) no-repeat 50% center,
      //   linear-gradient(-225deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%))
      //     no-repeat;
      background: linear-gradient(
          -225deg,
          hsl(192, 100%, 67%),
          hsl(280, 87%, 65%)
        )
        no-repeat;
      border-radius: 100%;
    }
  }

  form {
    height: 100%;
  }

  input {
    font-family: var(--ff-sans);
    font-size: rem(18);
    padding: 0 rem(20);
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
  }

  &__footer {
    display: grid;
    grid-template-columns: 1fr 45% 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: rem;
    align-items: center;
    text-align: center;
    height: rem(48);
    border-radius: 0 0 var(--radius);
    font-size: rem(12);

    button {
      font-size: rem(11);
    }
  }

  &__toggle-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .btn-del {
    opacity: 0;
    transition: opacity var(--transition);
  }

  &:hover {
    .btn-del {
      opacity: 1;
      transition: opacity var(--transition);
    }
  }

  p {
    margin-left: rem(20);
    display: inline;
    width: auto;
  }

  &__empty {
    padding: rem(40) rem(20);
    display: flex;
    flex-flow: row wrap;
    height: auto;
    justify-content: center;

    h2 {
      margin-bottom: 3rem;
    }
  }
}
