@use '../util' as *;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-style: normal;
  font-weight: normal;
}

html,
body {
  margin: 0px auto;
  width: 100%;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-sans);
  font-weight: 500;
  font-size: var(--fs-size);
  line-height: 1.6;
  position: relative;
}

.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: rem(1);
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: rem(1);
}
